.Spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  border: inherit;
  background-color: inherit;
  
  background-image: url('Spinner.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}